{% extends "shop/base.html" %}
{% block title %}Inscription du client{% endblock title %}
{% block content %}
<div class="container">
	<div class="row my-3">
		<div class="col-sm-6 offset-sm-3">
			<h3>Inscription du client</h3>
			<hr>

			<form action="" method="post" novalidate class="shadow p-5">
				{% csrf_token %}
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					{{form.username}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
					</div>
					{{form.email}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>
					{{form.password1}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>
					{{form.password2}}
				</div>
				{{form.errors}}
				   <div class="d-flex justify-content-center mt-3 login_container">
					 <input class="btn login_btn" type="submit" value="S'inscription">
				   </div>
				<br>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Avez-vous déjà un compte? <a href="{% url 'acces' %}" class="ml-2">Login</a>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>

{% endblock %}
{% block js %}
<script>

	//Ajouter de placeholder aux champs de saisie
	
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder="Nom d'utilisateur..";
	form_fields[2].placeholder='Email..';
	form_fields[3].placeholder='Mot de passe...';
	form_fields[4].placeholder='Confirmer mot de passe...';


	for (var field in form_fields){
	form_fields[field].className += ' form-control'
	}
</script>
{% endblock %}